<div class="header">
	<span class="notSignedIn">
	Not Signed In
	</span>
  <h1><span><img src="../resources/images/skateboard-icon.jpg" alt="Skateboard Icon" style="width:40px;height:40px;"/></span>Niner Skateboard Swap</h1>

 </div>
